<%- model_class = Invoice.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped table-bordered table-condensed sortable">
  <thead>
    <tr>
      <th><%=t model_class.human_attribute_name(:number) %></th>
      <th><%=t model_class.human_attribute_name(:date) %></th>
      <th><%=t model_class.human_attribute_name(:rate) %></th>
      <th><%=t model_class.human_attribute_name(:total) %></th>
    </tr>
  </thead>
  <tbody>
    <% sum_rate = 0 %>
    <% sum_total = 0 %>
    <% @year_invoices.each do |invoice| %>
      <% sum_rate += invoice.rate %>
      <% sum_total += invoice.total %>
      <tr>
        <td><%= invoice.number %></td>
        <td><%= invoice.date.strftime("%d/%m/%Y") %></td>
        <td><%= number_to_currency(invoice.rate) %></td>
        <td><%= number_to_currency(invoice.total) %></td>
      </tr>
    <% end %>
    <tr>
      <th colspan="2">
        <%=t '.total', :default => "Total" %>
      </th>
      <th><%= number_to_currency(sum_rate) %></th>
      <th><%= number_to_currency(sum_total) %></th>
    </tr>
  </tbody>
</table>
