<%- model_class = Customer.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th><%=t '.customer', :default => "Customers account summary" %></th>
      <th><%=t '.billed', :default => "Billed" %></th>
      <th><%=t '.paid', :default => "Paid" %></th>
      <th><%=t '.unpaid', :default => "Unpaid" %></th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.title %></td>
      <td class="nowrap"><%= number_to_currency(customer.billed) %></td>
      <td class="nowrap"><%= number_to_currency(customer.paid) %></td>
      <td class="nowrap">
        <% if customer.unpaid > 0 %>
          <span class="label label-important"><%= number_to_currency(customer.unpaid) %></span>
        <% else %>
          <%= number_to_currency(customer.unpaid) %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
