<%
  invoices = []
  @this_year.each do |invoice|
    invoices << "['#{l(Date.strptime("{#{invoice.month_number}}","{%m}"), :format => "%b")}', #{invoice.month_income}]"
  end
%>
<div id="receipts_this_year_chart" style="width: 100%; height: 350px;"></div>
<script type="text/javascript">
google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
      var data = google.visualization.arrayToDataTable([
          ['<%=t '.month', :default => "Month" %>', '<%=t '.total', :default => "Total" %>'],
          <%= invoices.join(',').to_s %>
      ]);

      var options = {
          title: '<%=t '.title', :default => "Receipts this year" %>',
          vAxis: {title: '<%=t '.month', :default => "Month" %>',  titleTextStyle: {color: 'red'}}
      };

      var chart = new google.visualization.BarChart(document.getElementById('receipts_this_year_chart'));
      chart.draw(data, options);
  }
</script>