<%- model_class = Invoice.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:number) %></th>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%= model_class.human_attribute_name(:invoiced) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= link_to invoice_project.id, invoice_project_path(invoice_project) %></td>
        <td><%= invoice_project.customer_id %></td>
        <td><%= invoice_project.consolidated_tax_id %></td>
        <td><%= invoice_project.date %></td>
        <td><%= invoice_project.number %></td>
        <td><%= invoice_project.invoiced %></td>
        <td><%=l invoice_project.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_invoice_project_path(invoice_project), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      invoice_project_path(invoice_project),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_invoice_project_path,
            :class => 'btn btn-primary' %>