<%= simple_form_for [@customer, @estimate], :html => {:class => 'form-horizontal' } do |f| %>

  <% if f.error_notification %>
    <%= f.error_notification %>
  <% end %>

  <legend><%=t '.legend', :default => 'Insert data' %></legend>

  <%= f.input :date, :wrapper => :prepend do %>
    <%= content_tag :span, "<img src=\"/icons/calendar-month.png\" alt=\"Calendar\" />".html_safe, :class => "add-on" %><%= f.input_field :date, :as => :datepicker %>
  <% end %>

  <%= f.association :consolidated_tax, :as => :radio, :collection => @consolidated_taxes %>
  <%= f.association :slips, :as => :check_boxes, :collection => @slips %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= submit_tag t('helpers.buttons.cancel', :default => 'Cancel'), :type => :reset, :class => "btn btn-danger" %>
  </div>
<% end %>
