<%= content_for :breadcrumb do %>
  <%= print_breadcrumbs([
                      [t('breadcrumb.invoices.index', :default => 'Invoices'), all_invoices_path]
                    ]).html_safe %>
<% end %>
<%- model_class = Invoice.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th><%=t model_class.human_attribute_name(:number) %></th>
      <th><%=t model_class.human_attribute_name(:customer) %></th>
      <th><%=t model_class.human_attribute_name(:date) %></th>
      <th><%=t model_class.human_attribute_name(:slips) %></th>
      <th><%=t model_class.human_attribute_name(:rate) %></th>
      <th><%=t model_class.human_attribute_name(:total) %></th>
      <th><%=t model_class.human_attribute_name(:downloaded) %></th>
      <th><%=t model_class.human_attribute_name(:paid) %></th>
      <th><%=t model_class.human_attribute_name(:payment_date) %></th>
      <th><%=t 'actions', :default => "Actions" %></th>
    </tr>
  </thead>
  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
          <td><%= invoice.number %></td>
          <td><%= invoice.customer.title %></td>
          <td><%= invoice.date.strftime("%d/%m/%Y") %></td>
          <td>
            <ul>
              <% invoice.slips.each do |slip| %>
                <li><%= slip.name %>: <%= number_to_currency(slip.rate) %></li>
              <% end %>
            </ul>
          </td>
          <td class="nowrap"><%= number_to_currency(invoice.rate) %></td>
          <td class="nowrap"><%= number_to_currency(invoice.total) %></td>
          <td><%= invoice.downloaded? ? '<span class="label label-success"><i class="icon-ok"></i></span>'.html_safe : '<span class="label label-important"><i class="icon-remove"></i></span>'.html_safe %></td>
          <td><%= invoice.paid? ? '<span class="label label-success"><i class="icon-ok"></i></span>'.html_safe : '<span class="label label-important"><i class="icon-remove"></i></span>'.html_safe %></td>
          <td><%= invoice.payment_date.strftime("%d/%m/%Y") if invoice.paid and invoice.payment_date %></td>
          <td>
            <%= link_to('<i class="icon-remove"></i> '.html_safe+t('invoices.delete_and_restore', :default => 'Delete invoice and restore slips'), customer_invoice_path(invoice.customer,invoice.id), :method => :delete, :confirm => t('invoices.delete_and_restore_confirm', :default => "Are you sure to delete the invoice and restore the slips?\nATTENTION: You shouldn't destroy invoices unless you know what you're doing. Numbering won't be automatically restored..."), :class => 'btn btn-mini btn-danger') unless invoice.paid? %>
            <%= link_to('<i class="icon-money"></i> '.html_safe+t('invoices.add_payment', :default => 'Add payment'), "/invoice/#{invoice.id}/payment", :class => 'btn btn-mini btn-success') unless invoice.paid? %>
            <%= link_to '<i class="icon-print"></i> '.html_safe+t('invoices.print_invoice', :default => 'PDF'), customer_invoice_path(invoice.customer,invoice.id, :format => 'pdf'), :class => 'btn btn-mini btn-primary' %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%
years = get_selectable_invoices_years
if years.size > 1
%>
  <div>
      <form method="get" class="form-inline pull-right">
      <select name="year">
        <% years.each do |year| %>
          <option value="<%= year %>"<%= ' selected' if @selected_year.to_i == year %>><%= year %></option>
        <% end %>
      </select>
      <input class="btn" type="submit" value="<%=t '.filter_by_year', :default => "Filter by year" %>">
      </form>
  </div>
<% end %>
