<%= content_for :breadcrumb do %>
  <%= print_breadcrumbs([
                      [t('breadcrumb.recurring_slips.index', :default => 'Recurring slips'), recurring_slips_path],
                      [t('breadcrumb.recurring_invoice_projects.new', :default => "New recurring invoice project"), nil]
                    ]).html_safe %>
<% end %>

<h1><%=t '.title', :default => "New invoice project from recurring slip" %></h1>

<%= simple_form_for [@customer, @invoice_project], :url => "/invoice_projects/#{@recurring_slip.id}/from_recurring_slip", :html => {:class => 'form-horizontal' } do |f| %>

  <% if f.error_notification %>
    <%= f.error_notification %>
  <% end %>

  <legend><%=t '.legend', :default => "Invoice project for" %> <%= @customer.title %></legend>
  <h3><%= @recurring_slip.name %></h3>
  <%= f.input :date, :wrapper => :prepend do %>
    <%= content_tag :span, "<img src=\"/icons/calendar-month.png\" alt=\"Calendar\" />".html_safe, :class => "add-on" %><%= f.input_field :date, :as => :datepicker %>
  <% end %>
  <%= f.association :consolidated_tax, :as => :radio_buttons, :collection => @consolidated_taxes %>
  <%= f.association :slips, :as => :check_boxes, :collection => @slips, label: t('.working_slips', default: "Other slips") %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= submit_tag 'Cancel', :type => :reset, :class => "btn btn-danger" %>
  </div>
<% end %>
