<div class="row">
  <div class="large-12 columns">
    {{#link-to 'customers.new' class="button radius"}}<i class="fa fa-plus"></i> New customer{{/link-to}}
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Referent</th>
          <th>Address</th>
          <th>Tax code</th>
          <th>VAT</th>
        </tr>
      </thead>
      <tbody>
        {{#each customer in controller}}
          <tr>
            <td>{{#link-to 'customer' customer}}{{customer.title}}{{/link-to}}</td>
            <td>{{customer.full_name}}</td>
            <td>{{customer.full_address}}</td>
            <td>{{customer.tax_code}}</td>
            <td>{{customer.vat}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
