<h1><%=t '.forgot_password', :default => "Forgot your password?" %></h1>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "new_user form-horizontal"}) do |f| %>
  <legend><%=t '.insert_email', :default => "Insert your email" %></legend>
  <% if flash[:alert] %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= flash[:alert] %>
    </div>
  <% end %>
  <%= devise_error_messages! %>

  <%= f.input :email %>
  <div class="form-actions">
    <%= f.submit t('.send_password_instructions', :default => "Send me reset password instructions"), :class => 'btn btn-primary' %>
  </div>
<% end %>
