<%= content_for :breadcrumb do %>
  <%= print_breadcrumbs([
                      [t('breadcrumb.options.index', :default => "Options"), options_path]
                    ]).html_safe %>
<% end %>
<%- model_class = Option.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>

<%= form_tag '/options/save', method: :put, class: 'form-horizontal' do |f| %>
  <% @options.each do |option| %>
    <div class="control-group">
      <label class="control-label" for="input_<%= option.name.downcase %>"><%=t ".#{option.name.downcase}", default: option.name.humanize %></label>
      <div class="controls">
        <% if option.name.downcase == "charts_engine" %>
          <select name="options[<%= option.name %>]">
            <% ["xcharts", "google" ].each do |opt| %>
              <option value="<%= opt %>"<%= " selected" if option.value.downcase == opt %>><%= opt.humanize %></option>
            <% end %>
          </select>
        <% else %>
          <input type="<%= option.integer ? "number" : "text" %>" id="input_<%= option.name.downcase %>" name="options[<%= option.name %>]" value="<%= option.value %>">
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-warning"><%=t :save, default: "Save" %></button>
    </div>
  </div>
<% end %>

<div class="alert alert-info">
  <h4 class="alert-heading"><%=t '.alert.title', :default => "Pay attention!" %></h4>
  <%=t '.alert.message', :default => "Options keys are used to determine various aspects of slips and invoices workflow. Pay a lot of attention while managing them!" %>
</div>
