<%= content_for :breadcrumb do %>
  <%= print_breadcrumbs([
                      [t('breadcrumb.options.index', default: "Options"), options_path]
                    ]).html_safe %>
<% end %>
<%- model_class = Option.new.class -%>
<h1><%=t '.title', default: model_class.model_name.human.pluralize %>
<% unless @available_options.blank? %>
  <%= link_to "#new_option_modal", data: { toggle: :modal }, class: 'btn btn-success pull-right' do %>
    <i class="icon-plus"></i> <%=t '.new_option', default: 'New option' %>
  <% end %>
<% end %>
</h1>

<%= form_tag '/options/save', method: :put, class: 'form-horizontal' do |f| %>
  <% @options.each do |option| %>
    <div class="control-group">
      <label class="control-label" for="input_<%= option.name.downcase %>"><%=t ".#{option.name.downcase}", default: option.name.humanize %></label>
      <div class="controls">
        <% if option.name.downcase == "charts_engine" %>
          <select name="options[<%= option.name %>]">
            <% ["xcharts", "google" ].each do |opt| %>
              <option value="<%= opt %>"<%= " selected" if option.value.downcase == opt %>><%= opt.humanize %></option>
            <% end %>
          </select>
        <% else %>
          <input type="<%= option.integer ? "number" : "text" %>" id="input_<%= option.name.downcase %>" name="options[<%= option.name %>]" value="<%= option.value %>">
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary"><%=t :save, default: "Save" %></button>
    </div>
  </div>
<% end %>

<% unless @available_options.blank? %>
  <div class="modal modal-format-notes hide" id="new_option_modal">
    <%= simple_form_for Option.new, html: { class: 'form-horizontal' } do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3><%=t '.new_option_modal_title', default: "Create new option" %></h3>
      </div>
      <div class="modal-body">
        <%= f.input :name, as: :radio_buttons, collection: @available_options.collect { |o| [I18n.t("options.index.#{o.downcase}"), o] }, hint: t('.invoice_hint') %>
      </div>
      <div class="modal-footer">
        <%= button_tag action: :submit, class: 'btn btn-success' do %>
          <i class="icon-plus"></i> <%=t '.add_btn', default: 'Create option' %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="alert alert-info">
  <h4 class="alert-heading"><%=t '.alert.title', default: "Pay attention!" %></h4>
  <%=t '.alert.message', default: "Options keys are used to determine various aspects of slips and invoices workflow. Pay a lot of attention while managing them!" %>
</div>
