<div class="row-fluid">
  <div class="span12">
    <%= link_to "#edit-customer-info-modal", class: 'btn btn-mini btn-primary pull-right editable-toggle', data: { toggle: "modal" } do %>
      <i class="icon-edit"></i> <%=t ".#{action}", default: "#{action.humanize}" %>
    <% end %>
    <div id="edit-customer-info-modal" class="modal hide fade" tabindex="-1" role="dialog">
      <%= simple_form_for @customer, url: api_customer_path(@customer, format: :json), html: { id: 'edit-customer-info-form' } do |f| %>
        <div class="modal-body">
          <%= f.input :info, input_html: { class: 'wysihtml5 input-xxlarge', rows: 8 }, label: false  %>
        </div>
        <div class="modal-footer">
          <%= button_tag class: 'btn btn-primary' do %>Salva<% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% content_for :javascripts do %>
  <%= javascript_include_tag "coffees/customer_info_management" %>
<% end %>
