<%= simple_form_for [@customer, @slip], :html => {:class => 'form-horizontal' } do |f| %>

  <% if f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= f.error_notification %>
    </div>
  <% end %>
  
  <legend></legend>
  <%= f.input :name %>
  <%= f.input :rate %>
  <%= f.input :timed %>
  <%= f.input :duration, :hint => :duration %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= submit_tag t('helpers.buttons.cancel', :default => 'Cancel'), :type => :reset, :class => "btn btn-danger" %>
  </div>
<% end %>