<%= content_for :breadcrumb do %>
  <%= print_breadcrumbs([
                      ["#{@customer.title}", customer_slips_path(@customer)]
                    ]).html_safe %>
<% end %>

<div class="row-fluid">
  <div class="span12">
    <%= link_to edit_customer_path(@customer), class: 'btn btn-mini btn-primary pull-right' do %>
      <i class="icon-edit"></i> <%=t '.edit_customer', default: 'Edit customer' %>
    <% end %>
  </div>
</div>

<%= render 'customer_info' %>

<%= render 'slips_table' %>

<%= render 'estimates_table' %>

<%= render 'invoice_projects_table' %>

<%= render 'invoices_table' %>
