<% content_for :title do %>
  <%= @customer.title %>
<% end %>

<article class="module width_full">
	<header><h3>Slips</h3></header>
	<div class="tab_container">
    <table class="tablesorter" cellspacing="0">
      <thead>
        <tr>
          <th>Name</th>
          <th>Rate</th>
          <th>Created at</th>
          <th>Timed</th>
          <th>Duration</th>
          <th>Estimated</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="7">
            <div class="bulk-actions align-left">
              <%= link_to "New slip", new_customer_slip_path(@customer), :class => "button" %>
            </div>
            <div class="clear"></div>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <% @slips.each do |slip| %>
          <tr class="<%= cycle 'alt-row', '' %>">
            <td><%= slip.name %></td>
            <td><%= number_to_currency(slip.rate) %></td>
            <td><%= l slip.created_at %></td>
            <td><%= slip.timed? ? image_tag("icons/tick-circle.png") : image_tag("icons/slash.png") %></td>
            <td><%= slip.duration ? ChronicDuration.output(slip.duration, :format => :short) : '-' %></td>
            <td><%= slip.estimated? ? image_tag("icons/tick-circle.png") : image_tag("icons/slash.png") %></td>
            <td><%= link_to(image_tag('icons/document--pencil.png', :alt => 'Edit slip', :title => 'Edit slip'), edit_customer_slip_path(@customer, slip)) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</article>

<article class="module width_full">
	<header><h3>Estimates</h3></header>
	<div class="tab_container">
    <table class="tablesorter" cellspacing="0">
      <thead>
        <tr>
          <th>Number</th>
          <th>Date</th>
          <th>Rate</th>
          <th>Total</th>
          <th>Invoiced</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="6">
            <div class="bulk-actions align-left">
              <%= link_to "New estimate", new_customer_estimate_path(@customer), :class => "button" %>
            </div>
            <div class="clear"></div>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <% @estimates.each do |estimate| %>
        <tr class="<%= cycle 'alt-row', '' %>">
          <td><%= estimate.number %></td>
          <td><%= l estimate.date %></td>
          <td><%= number_to_currency(estimate.rate) %></td>
          <td><%= number_to_currency(estimate.total) %></td>
          <td><%= estimate.invoiced? ? image_tag("icons/tick-circle.png") : image_tag("icons/slash.png") %></td>
          <td></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</article>

<article class="module width_full">
	<header><h3>Invoices</h3></header>
	<div class="tab_container">
    <table class="tablesorter" cellspacing="0">
      <thead>
        <tr>
          <th>Number</th>
          <th>Date</th>
          <th>Slips</th>
          <th>Rate</th>
          <th>Total</th>
          <th>Paid</th>
          <th>Payment date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="8">
            <div class="bulk-actions align-left">
              <%= link_to "New invoice", new_customer_invoice_path(@customer), :class => "button" %>
            </div>
            <div class="clear"></div>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <% @invoices.each do |invoice| %>
        <tr class="<%= cycle 'alt-row', '' %>">
          <td><%= invoice.number %></td>
          <td><%= invoice.date.strftime("%d/%m/%Y") %></td>
          <td>
            <ul>
              <% invoice.slips.each do |slip| %>
                <li><%= slip.name %>: <%= number_to_currency(slip.rate) %></li>
              <% end %>
            </ul>
          </td>
          <td><%= number_to_currency(invoice.rate) %></td>
          <td><%= number_to_currency(invoice.total) %></td>
          <td><%= invoice.paid? ? image_tag("icons/tick-circle.png") : image_tag("icons/slash.png") %></td>
          <td><%= invoice.payment_date.strftime("%d/%m/%Y") if invoice.paid and invoice.payment_date %></td>
          <td>
            <%= link_to(image_tag('icons/blue-document-page-previous.png', :alt => 'Delete invoice and restore slips', :title => 'Delete invoice and restore slips'), customer_invoice_path(@customer,invoice.id), :method => :delete, :confirm => "Are you sure to delete the invoice and restore the slips?\nATTENTION: You shouldn't destroy invoices unless you know what you're doing. Numbering won't be automatically restored...") unless invoice.paid? %>
            <%= link_to(image_tag('icons/money-coin.png', :alt => 'Add payment', :title => 'Add payment'), "/invoice/#{invoice.id}/payment") unless invoice.paid? %>
            <%= link_to image_tag('icons/document-pdf-text.png', :alt => 'Print invoice', :title => 'Print invoice' ), customer_invoice_path(@customer,invoice.id, :format => 'pdf') %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</article>