<!-- SLIPS -->
<%- model_class = Slip.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:rate) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:timed) %></th>
      <th><%= model_class.human_attribute_name(:duration) %></th>
      <th><%= model_class.human_attribute_name(:estimated) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @slips.each do |slip| %>
      <tr>
        <td><%= slip.name %></td>
        <td><%= number_to_currency(slip.rate) %></td>
        <td><%= l slip.created_at %></td>
        <td><%= slip.timed? ? image_tag("icons/tick-circle.png") : image_tag("icons/slash.png") %></td>
        <td><%= slip.duration ? ChronicDuration.output(slip.duration, :format => :short) : '-' %></td>
        <td><%= slip.estimated? ? image_tag("icons/tick-circle.png") : image_tag("icons/slash.png") %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_customer_slip_path(@customer, slip), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_customer_slip_path(@customer),
            :class => 'btn btn-primary' %>
<!-- /SLIPS -->

<!-- ESTIMATES -->
<%- model_class = Estimate.new.class -%>
<h1 class="sup-spaced"><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:number) %></th>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%= model_class.human_attribute_name(:rate) %></th>
      <th><%= model_class.human_attribute_name(:total) %></th>
      <th><%= model_class.human_attribute_name(:invoiced) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @estimates.each do |estimate| %>
      <tr>
        <td><%= estimate.number %></td>
        <td><%= l estimate.date %></td>
        <td><%= number_to_currency(estimate.rate) %></td>
        <td><%= number_to_currency(estimate.total) %></td>
        <td><%= estimate.invoiced? ? image_tag("icons/tick-circle.png") : image_tag("icons/slash.png") %></td>
        <td><%= link_to(image_tag('icons/cross-circle.png', :alt => 'Delete estimate', :title => 'Delete estimate'), customer_estimate_path(@customer,estimate.id), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => "Are you sure to delete the estimate?\nATTENTION: You shouldn't destroy it unless you know what you're doing. Numbering won't be automatically restored...")), :class => 'btn btn-mini') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_customer_estimate_path(@customer),
            :class => 'btn btn-primary' %>
<!-- /ESTIMATES -->



<!-- INVOICE PROJECTS -->
<%- model_class = Invoice.new.class -%>
<h1 class="sup-spaced"><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:number) %></th>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%= model_class.human_attribute_name(:rate) %></th>
      <th><%= model_class.human_attribute_name(:total) %></th>
      <th><%= model_class.human_attribute_name(:invoiced) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @invoice_projects.each do |project| %>
      <tr>
        <td><%= project.number %></td>
        <td><%= l project.date %></td>
        <td><%= number_to_currency(project.rate) %></td>
        <td><%= number_to_currency(project.total) %></td>
        <td><%= project.invoiced? ? image_tag("icons/tick-circle.png") : image_tag("icons/slash.png") %></td>
        <td>
          <%= link_to(image_tag('icons/cross-circle.png', :alt => 'Delete invoice project', :title => 'Delete invoice project'), customer_invoice_project_path(@customer,project.id), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => "Are you sure to delete the invoice project?\nATTENTION: You shouldn't destroy it unless you know what you're doing. Numbering won't be automatically restored...")), :class => 'btn btn-mini') %>
          <%= link_to(image_tag('icons/inbox--arrow.png', :alt => 'Transform to invoice', :title => 'Transform to invoice' ), project_to_invoice_path(project.id), :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => "Transform the invoice project to invoice?")), :class => 'btn btn-mini') unless project.invoiced %>
          <%= link_to image_tag('icons/document-pdf-text.png', :alt => 'Print invoice project', :title => 'Print invoice project' ), customer_invoice_project_path(@customer,project.id, :format => 'pdf'), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_customer_invoice_project_path(@customer),
            :class => 'btn btn-primary' %>
<!-- /INVOICE PROJECTS -->


<!-- INVOICES -->
<%- model_class = Invoice.new.class -%>
<h1 class="sup-spaced"><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:number) %></th>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%= model_class.human_attribute_name(:slips) %></th>
      <th><%= model_class.human_attribute_name(:rate) %></th>
      <th><%= model_class.human_attribute_name(:total) %></th>
      <th><%= model_class.human_attribute_name(:paid) %></th>
      <th><%= model_class.human_attribute_name(:payment_date) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.number %></td>
        <td><%= invoice.date.strftime("%d/%m/%Y") %></td>
        <td>
          <ul>
            <% invoice.slips.each do |slip| %>
              <li><%= slip.name %>: <%= number_to_currency(slip.rate) %></li>
            <% end %>
          </ul>
        </td>
        <td><%= number_to_currency(invoice.rate) %></td>
        <td><%= number_to_currency(invoice.total) %></td>
        <td><%= invoice.paid? ? image_tag("icons/tick-circle.png") : image_tag("icons/slash.png") %></td>
        <td><%= invoice.payment_date.strftime("%d/%m/%Y") if invoice.paid and invoice.payment_date %></td>
        <td>
          <%= link_to(image_tag('icons/blue-document-page-previous.png', :alt => 'Delete invoice and restore slips', :title => 'Delete invoice and restore slips'), customer_invoice_path(@customer,invoice.id), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => "Are you sure to delete the invoice and restore the slips?\nATTENTION: You shouldn't destroy invoices unless you know what you're doing. Numbering won't be automatically restored...")), :class => 'btn btn-mini') unless invoice.paid? %>
          <%= link_to(image_tag('icons/money-coin.png', :alt => 'Add payment', :title => 'Add payment'), "/invoice/#{invoice.id}/payment", :class => 'btn btn-mini') unless invoice.paid? %>
          <%= link_to image_tag('icons/document-pdf-text.png', :alt => 'Print invoice', :title => 'Print invoice' ), customer_invoice_path(@customer,invoice.id, :format => 'pdf'), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_customer_invoice_path(@customer),
            :class => 'btn btn-primary' %>
<!-- /INVOICES -->