<%= content_for :breadcrumb do %>
  <%= print_breadcrumbs([
                      ["#{@customer.title}", customer_slips_path(@customer)]
                    ]).html_safe %>
<% end %>
<!-- SLIPS -->
<%- model_class = Slip.new.class -%>
<h1><%=t '.slips.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th><%=t model_class.human_attribute_name(:name) %></th>
      <th><%=t model_class.human_attribute_name(:rate) %></th>
      <th><%=t model_class.human_attribute_name(:created_at) %></th>
      <th><%=t model_class.human_attribute_name(:timed) %></th>
      <th><%=t '.hours' %></th>
      <th><%=t model_class.human_attribute_name(:duration) %></th>
      <th><%=t model_class.human_attribute_name(:estimated) %></th>
      <th><%=t 'actions', :default => "Actions" %></th>
    </tr>
  </thead>
  <tbody>
    <% total = 0 %>
    <% @slips.each do |slip| %>
      <tr>
        <td><%= slip.name %></td>
        <td><%= number_to_currency(slip.rate) %></td>
        <% total += slip.rate %>
        <td><%= l slip.created_at, :format => :date %></td>
        <td><%= slip.timed? ? '<span class="label label-success"><i class="icon-ok"></i></span>'.html_safe : '<span class="label label-important"><i class="icon-remove"></i></span>'.html_safe %></td>
        <td>
          <%= slip.timed ? link_to(slip.total_hours, "#time_entries_#{slip.id}", 'data-toggle' => 'modal') : "-" %> <%= link_to('<i class="icon-plus"></i>'.html_safe, new_customer_slip_time_entry_path(@customer, slip), :class => "bt btn-mini btn-success", :rel => "tooltip", :title => t('tooltip.time_entries.new', :default => "Add new time entry")) if slip.timed %>
          <% if slip.timed %>
            <div class="modal modal-format-notes hide" id="time_entries_<%= slip.id %>">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3><%=t '.time_entries.title', :default => "Time entries for" %> <%= slip.name %></h3>
              </div>
              <div class="modal-body">
                <table class="table table-striped table-bordered table-condensed">
                  <thead>
                    <tr>
                      <% time_entry_class = TimeEntry.new.class %>
                      <th><%=t time_entry_class.human_attribute_name(:date) %></th>
                      <th><%=t time_entry_class.human_attribute_name(:hours) %></th>
                      <th><%=t time_entry_class.human_attribute_name(:comments) %></th>
                      <th><%=t time_entry_class.human_attribute_name(:category) %></th>
                      <th><%=t 'actions', :default => "Actions" %></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% slip.time_entries.order(:date).each do |time_entry| %>
                      <tr>
                        <td><%=l time_entry.date %></td>
                        <td><%= time_entry.hours %></td>
                        <td><%= time_entry.comments %></td>
                        <td><%= time_entry.work_category.label if time_entry.work_category %></td>
                        <td>
                          <%= link_to('<i class="icon-remove"></i> '.html_safe+t('.time_entries.delete', :default => 'Delete'), customer_slip_time_entry_path(@customer, slip, time_entry), :method => :delete, :data => { :confirm => t(".time_entries.delete_confirm", :default => "Are you sure to delete the time entry?") }, :class => 'btn btn-mini btn-danger') %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <a href="#" class="btn btn-primary" data-dismiss="modal"><i class="icon-remove"></i> <%=t '.time_entries.close', :default => "Close" %></a>
              </div>
            </div>
          <% end %>
        </td>
        <td><%= slip.duration ? check_slip_duration(slip).html_safe : '-' %></td>
        <td><%= slip.estimated? ? '<span class="label label-success"><i class="icon-ok"></i></span>'.html_safe : '<span class="label label-important"><i class="icon-remove"></i></span>'.html_safe %></td>
        <td>
          <%= link_to('<i class="icon-edit"></i> '.html_safe+t('.slips.edit', :default => 'Edit'), edit_customer_slip_path(@customer, slip), :class => 'btn btn-mini btn-warning') %>
          <%= link_to('<i class="icon-remove"></i> '.html_safe+t('.slips.delete', :default => 'Delete'), customer_slip_path(@customer,slip.id), :method => :delete, :data => { :confirm => t(".slips.delete_confirm", :default => "Are you sure to delete the slip?") }, :class => 'btn btn-mini btn-danger') %>
        </td>
      </tr>
    <% end %>
    <tr>
      <th>Totale</th>
      <th><%= number_to_currency(total) %></th>
      <td colspan="6"></td>
    </tr>
  </tbody>
</table>

<%= link_to t('.slips.new', :default => "helpers.links.new"),
            new_customer_slip_path(@customer),
            :class => 'btn btn-primary' %>
<!-- /SLIPS -->

<!-- ESTIMATES -->
<%- model_class = Estimate.new.class -%>
<h1 class="sup-spaced"><%=t '.estimates.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th><%=t model_class.human_attribute_name(:number) %></th>
      <th><%=t model_class.human_attribute_name(:date) %></th>
      <th><%=t model_class.human_attribute_name(:rate) %></th>
      <th><%=t model_class.human_attribute_name(:total) %></th>
      <th><%=t model_class.human_attribute_name(:invoiced) %></th>
      <th><%=t 'actions', :default => "Actions" %></th>
    </tr>
  </thead>
  <tbody>
    <% @estimates.each do |estimate| %>
      <tr>
        <td><%= estimate.number %></td>
        <td><%= l estimate.date %></td>
        <td><%= number_to_currency(estimate.rate) %></td>
        <td><%= number_to_currency(estimate.total) %></td>
        <td><%= estimate.invoiced? ? '<span class="label label-success"><i class="icon-ok"></i></span>'.html_safe : '<span class="label label-important"><i class="icon-remove"></i></span>'.html_safe %></td>
        <td>
          <%= link_to('<i class="icon-edit"></i> '.html_safe+t('.estimates.edit', :default => 'Edit'), edit_customer_estimate_path(@customer, estimate), :class => 'btn btn-mini btn-warning') %>
          <%= link_to '<i class="icon-print"></i> '.html_safe+t('.estimates.print', :default => 'PDF'), customer_estimate_path(@customer, estimate.id, :format => 'pdf'), :class => 'btn btn-mini btn-primary' %>
          <%= link_to('<i class="icon-remove"></i> '.html_safe+t('.estimates.delete', :default => 'Delete'), customer_estimate_path(@customer,estimate.id), :method => :delete, :data => { :confirm => t('.estimates.delete_confirm', :default => "Are you sure to delete the estimate?\nATTENTION: Numbering won't be automatically restored...") }, :class => 'btn btn-mini btn-danger') %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.estimates.new', :default => "helpers.links.new"),
            new_customer_estimate_path(@customer),
            :class => 'btn btn-primary' %>
<!-- /ESTIMATES -->



<!-- INVOICE PROJECTS -->
<%- model_class = InvoiceProject.new.class -%>
<h1 class="sup-spaced"><%=t '.invoice_projects.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th><%=t model_class.human_attribute_name(:number) %></th>
      <th><%=t model_class.human_attribute_name(:date) %></th>
      <th><%=t model_class.human_attribute_name(:rate) %></th>
      <th><%=t model_class.human_attribute_name(:total) %></th>
      <th><%=t model_class.human_attribute_name(:downloaded) %></th>
      <th><%=t model_class.human_attribute_name(:invoiced) %></th>
      <th><%=t 'actions', :default => "Actions" %></th>
    </tr>
  </thead>
  <tbody>
    <% @invoice_projects.each do |project| %>
      <tr>
        <td><%= project.number %></td>
        <td><%= l project.date %></td>
        <td><%= number_to_currency(project.rate) %></td>
        <td><%= number_to_currency(project.total) %></td>
        <td><%= project.downloaded? ? '<span class="label label-success"><i class="icon-ok"></i></span>'.html_safe : '<span class="label label-important"><i class="icon-remove"></i></span>'.html_safe %></td>
        <td><%= project.invoiced? ? '<span class="label label-success"><i class="icon-ok"></i></span>'.html_safe : '<span class="label label-important"><i class="icon-remove"></i></span>'.html_safe %></td>
        <td>
          <%= link_to('<i class="icon-remove"></i> '.html_safe+t('.invoice_projects.delete', :default => 'Delete'), customer_invoice_project_path(@customer,project.id), :method => :delete, :data => { :confirm => t(".invoice_projects.delete_confirm", :default => "Are you sure to delete the invoice project?\nATTENTION: You shouldn't destroy it unless you know what you're doing. Numbering won't be automatically restored...") }, :class => 'btn btn-mini btn-danger') %>
          <%= link_to('<i class="icon-copy"></i> '.html_safe+t('.invoice_projects.transform_to_invoice', :default => 'Transform to invoice'), project_to_invoice_form_path(project.id), :class => 'btn btn-mini btn-primary') unless project.invoiced %>
          <%= link_to '<i class="icon-print"></i> '.html_safe+t('.invoice_projects.print', :default => 'PDF'), customer_invoice_project_path(@customer,project.id, :format => 'pdf'), :class => 'btn btn-mini btn-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.invoice_projects.new', :default => "helpers.links.new"),
            new_customer_invoice_project_path(@customer),
            :class => 'btn btn-primary' %>
<!-- /INVOICE PROJECTS -->


<!-- INVOICES -->
<%- model_class = Invoice.new.class -%>
<h1 class="sup-spaced"><%=t '.invoices.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th><%=t model_class.human_attribute_name(:number) %></th>
      <th><%=t model_class.human_attribute_name(:date) %></th>
      <th><%=t model_class.human_attribute_name(:slips) %></th>
      <th><%=t model_class.human_attribute_name(:rate) %></th>
      <th><%=t model_class.human_attribute_name(:total) %></th>
      <th><%=t model_class.human_attribute_name(:downloaded) %></th>
      <th><%=t model_class.human_attribute_name(:paid) %></th>
      <th><%=t model_class.human_attribute_name(:payment_date) %></th>
      <th><%=t 'actions', :default => "Actions" %></th>
    </tr>
  </thead>
  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.number %></td>
        <td><%=l invoice.date %></td>
        <td>
          <ul>
            <% invoice.slips.each do |slip| %>
              <li><%= slip.name %>: <%= number_to_currency(slip.rate) %></li>
            <% end %>
          </ul>
        </td>
        <td><%= number_to_currency(invoice.rate) %></td>
        <td><%= number_to_currency(invoice.total) %></td>
        <td><%= invoice.downloaded? ? '<span class="label label-success"><i class="icon-ok"></i></span>'.html_safe : '<span class="label label-important"><i class="icon-remove"></i></span>'.html_safe %></td>
        <td><%= invoice.paid? ? '<span class="label label-success"><i class="icon-ok"></i></span>'.html_safe : '<span class="label label-important"><i class="icon-remove"></i></span>'.html_safe %></td>
        <td><%= invoice.payment_date.strftime("%d/%m/%Y") if invoice.paid and invoice.payment_date %></td>
        <td>
          <%= link_to('<i class="icon-remove"></i> '.html_safe+t('.invoices.delete_and_restore', :default => 'Delete' ), customer_invoice_path(@customer,invoice.id), :method => :delete, :data => { :confirm => t('.invoices.delete_and_restore_confirm', :default => "Are you sure to delete the invoice and restore the slips?\nATTENTION: You shouldn't destroy invoices unless you know what you're doing. Numbering won't be automatically restored...") }, :class => 'btn btn-mini btn-danger') unless invoice.paid? %>
          <%= link_to('<i class="icon-money"></i> '.html_safe+t('.invoices.add_payment', :default => 'Add payment'), "/invoice/#{invoice.id}/payment", :class => 'btn btn-mini btn-success') unless invoice.paid? %>
          <%= link_to '<i class="icon-print"></i> '.html_safe+t('.invoices.print', :default => 'PDF'), customer_invoice_path(@customer,invoice.id, :format => 'pdf'), :class => 'btn btn-mini btn-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.invoices.new', :default => "helpers.links.new"),
            new_customer_invoice_path(@customer),
            :class => 'btn btn-primary' %>
<!-- /INVOICES -->
