<%- model_class = @slip.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p>
  <strong><%= model_class.human_attribute_name(:name) %>:</strong><br>
  <%= @slip.name %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:rate) %>:</strong><br>
  <%= number_to_currency(@slip.rate) %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:created_at) %>:</strong><br>
  <%= l (@slip.created_at) %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:timed) %>:</strong><br>
  <%= @slip.timed? ? image_tag("icons/tick-circle.png") : image_tag("icons/slash.png") %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:duration) %>:</strong><br>
  <%= @slip.duration ? ChronicDuration.output(@slip.duration, :format => :short) : '-' %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:estimated) %>:</strong><br>
  <%= @slip.estimated? ? image_tag("icons/tick-circle.png") : image_tag("icons/slash.png") %>
</p>

<div class="form-actions">
              
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_slip_path(@slip), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              slip_path(@slip),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>