<%= content_for :breadcrumb do %>
  <%= print_breadcrumbs([
                      [t('breadcrumb.working_slips', :default => "Working slips"), nil]
                    ]).html_safe %>
<% end %>
<!-- SLIPS -->
<%- model_class = Slip.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th><%=t model_class.human_attribute_name(:name) %></th>
      <th><%=t model_class.human_attribute_name(:customer) %></th>
      <th><%=t model_class.human_attribute_name(:rate) %></th>
      <th><%=t model_class.human_attribute_name(:created_at) %></th>
      <th><%=t model_class.human_attribute_name(:timed) %></th>
      <th><%=t model_class.human_attribute_name(:duration) %></th>
      <th><%=t model_class.human_attribute_name(:estimated) %></th>
      <th><%=t 'actions', :default => "Actions" %></th>
    </tr>
  </thead>
  <tbody>
    <% @slips.each do |slip| %>
      <tr>
        <td><%= slip.name %></td>
        <td><%= slip.customer.title %></td>
        <td><%= number_to_currency(slip.rate) %></td>
        <td><%= l slip.created_at %></td>
        <td><%= slip.timed? ? '<span class="label label-success"><i class="icon-ok"></i></span>'.html_safe : '<span class="label label-important"><i class="icon-remove"></i></span>'.html_safe %></td>
        <td><%= slip.duration ? ChronicDuration.output(slip.duration, :format => :short) : '-' %></td>
        <td><%= slip.estimated? ? '<span class="label label-success"><i class="icon-ok"></i></span>'.html_safe : '<span class="label label-important"><i class="icon-remove"></i></span>'.html_safe %></td>
        <td>
          <%= link_to('<i class="icon-edit"></i> '.html_safe+t('.edit', :default => 'Edit'), edit_customer_slip_path(slip.customer, slip), :class => 'btn btn-mini btn-primary') %>
          <%= link_to('<i class="icon-remove"></i> '.html_safe+t('.delete', :default => 'Delete'), customer_slip_path(slip.customer,slip.id), :method => :delete, :confirm => t(".delete_confirm", :default => "Are you sure to delete the slip?"), :class => 'btn btn-mini btn-danger') %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- /SLIPS -->
