<%= simple_form_for @customer, :html => {:class => 'form-horizontal' } do |f| %>
  
  <% if f.error_notification %>
    <%= f.error_notification %>
  <% end %>
  
  <legend></legend>
  <%= f.input :title %>
  <%= f.input :name %>
  <%= f.input :surname %>
  <%= f.input :address %>
  <%= f.input :zip_code %>
  <%= f.input :town %>
  <%= f.input :province %>
  <%= f.input :country, :priority => [ "Italy" ] %>
  <%= f.input :tax_code %>
  <%= f.input :vat %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= submit_tag t('helpers.buttons.cancel', :default => 'Cancel'), :type => :reset, :class => "btn btn-danger" %>
  </div>
<% end %>