<% content_for :title do %>
  Customers
<% end %>

<article class="module width_full">
	<header><h3>Customers</h3></header>
	<div class="tab_container">
    <table class="tablesorter" cellspacing="0">
      <thead>
        <tr>
          <th>Title</th>
          <th>CEO</th>
          <th>Address</th>
          <th>Tax code</th>
          <th>VAT</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="6">
            <div class="bulk-actions align-left">
              <%= link_to "New customer", new_customer_path, :class => "button" %>
            </div>
            <div class="clear"></div>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <% @customers.each do |customer| %>
        <tr class="<%= cycle 'alt-row', '' %>">
          <td><%= customer.title %></td>
          <td><%= customer.name %> <%= customer.surname %></td>
          <td><%= customer.address %> <%= customer.zip_code %> <%= customer.town %> <%= customer.province %></td>
          <td><%= customer.tax_code %></td>
          <td><%= customer.vat %></td>
          <td><%= link_to(image_tag('icons/document--pencil.png', :alt => 'Edit customer', :title => 'Edit customer'), edit_customer_path(customer)) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</article>