<%= simple_form_for [@certification], html: { class: 'form-horizontal', multipart: true } do |f| %>

  <% if f.error_notification %>
    <%= f.error_notification %>
  <% end %>

  <%= f.association :customer, collection: current_user.customers.ordered.collect { |c| [c.title, c.id]}, input_html: { class: 'input-xxlarge enable_select2' } %>
  <%= f.input :year, input_html: { class: "input-small", readonly: true } %>
  <%= f.input :rate, :wrapper => :append do %>
    <%= f.input_field :rate, class: 'input-mini', readonly: true %>
    <%= content_tag :span, '&euro;'.html_safe, class: "add-on" %>
  <% end %>
  <%= f.input :received_at, :wrapper => :prepend do %>
    <%= content_tag :span, '<i class="icon-calendar"></i>'.html_safe, class: "add-on" %>
    <%= f.input_field :received_at, as: :datepicker %>
  <% end %>
  <%= f.input :attachment %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= submit_tag t('helpers.buttons.cancel', :default => 'Cancel'), :type => :reset, :class => "btn btn-danger" %>
  </div>
<% end %>

