<%= content_for :breadcrumb do %>
  <%= print_breadcrumbs([
    ["Wiki", wiki_page_path],
    [@page.title, wiki_page_path(@page) ],
    [t('breadcrumb.wiki.edit', default: "Edit"), nil]
  ]).html_safe %>
<% end %>

<h1><%=wt 'Editing wiki page' %></h1>

<% if params[:preview] %>
  <div class="row-fluid">
    <div class="span12">
      <div class="well"><%=wiki_content @page.content %></div>
    </div>
  </div>
<% end %>

<%= simple_form_for( @page, { :as => :page, :url => url_for( :action => :update ), :html=> { :class => 'wiki_form form-horizontal', :method => :post } }) do |f| %>
  <%= f.hidden_field :previous_version_number, :value => f.object.last_version_number %>
  <%= hidden_field_tag :path, @page.path %>

  <%= f.input :title, input_html: { class: 'span6' } %>
  <%= f.input(:content, :value => f.object.content.gsub("\n", '&#x000A;').gsub("\r",''), input_html: { class: 'span10', rows: 10 }).html_safe %></p>
  <%= f.input :comment, input_html: { class: 'span6' } %>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
    <input type="submit" name="preview" value="<%=wt 'Preview' %>" class="btn btn-primary" />
    <input type="submit" name="cancel" value="<%=wt 'Cancel' %>" class="btn btn-danger" />
  </div>
<% end %>

<%= wiki_page_attachments(@page) %>

