<%= content_for :breadcrumb do %>
  <%= print_breadcrumbs([
    ["Wiki", wiki_page_path],
    [@page.title, wiki_page_path(@page) ],
    [t('breadcrumb.wiki.history', default: "History"), nil]
  ]).html_safe %>
<% end %>

<h1><%=wt '%{page_title} - History', :page_title => @page.title %></h1>

<%= wiki_page_history %>

<hr />
<div class="row-fluid">
  <div class="span6">
    <%= wiki_page_info %>
  </div>
  <div class="span6 text-right">
    <%= wiki_page_actions %>
  </div>
</div>

