<%= simple_form_for @work_category, :html => {:class => 'form-horizontal' } do |f| %>

  <% if f.error_notification %>
    <%= f.error_notification %>
  <% end %>

  <legend><%=t '.legend' %></legend>
  <%= f.input :label, :input_html => { :class => "input-xlarge" } %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= submit_tag t('helpers.buttons.cancel', :default => 'Cancel'), :type => :reset, :class => "btn btn-danger" %>
  </div>
<% end %>

