<div id="login-wrapper" class="png_bg">
	<div id="login-top">
	
		<h1>Sign in</h1>
		<!-- Logo (221px width) -->
		<%= image_tag "logo.png", :id => "logo", :alt => "Sign in" %>
	</div> <!-- End #logn-top -->
	
	<div id="login-content">
		
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		  <% if flash[:alert] %>
  	    <div class="notification error png_bg">
  				<div>
  					<%= flash[:alert] %>
  				</div>
  			</div>
  	  <% end %>
			
			<p>
				<%= f.label :email %> <%= f.email_field :email, :id => :email, :class => 'text-input' %>
			</p>
			<div class="clear"></div>
			<p>
				<%= f.label :password %> <%= f.password_field :password, :id => :password, :class => 'text-input' %>
			</p>
			<div class="clear"></div>
			<% if devise_mapping.rememberable? -%>
        <p id="remember-password">
          <%= f.check_box :remember_me %> <%= f.label :remember_me %>
        </p>
      <% end %>
			<div class="clear"></div>
			<p>
				<input class="submit_button" type="submit" value="Sign in" />
			</p>
			
		<% end %>
		<%= render :partial => "devise/shared/links" %>
	</div> <!-- End #login-content -->
	
</div> <!-- End #login-wrapper -->