<%= simple_form_for [@consolidated_tax, @tax], html: { class: 'form-horizontal' } do |f| %>

  <% if f.error_notification %>
    <%= f.error_notification %>
  <% end %>

  <legend></legend>
  <%= f.input :order, hint: t('.order_hint', default: "The order to calculate the taxes") %>
  <%= f.input :name %>
  <%= f.input :rate, hint: t('.rate_hint', default: "Insert tax percentage value (e.g. insert 21 to calculate a tax of 21%)") %>
  <%= f.input :compound, hint: t('.compound_hint', default: "Compound taxes are calculated after the other taxes") %>
  <%= f.input :withholding, hint: t('.withholding_hint', default: "A withholding tax is used to calculate withholding certifications rate") %>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
    <%= submit_tag t('helpers.buttons.cancel', default: 'Cancel'), type: :reset, class: "btn btn-danger" %>
  </div>
<% end %>

