<%= content_for :breadcrumb do %>
  <%= print_breadcrumbs([ 
                      ["Taxes", nil]
                    ]).html_safe %>
<% end %>
<%- model_class = ConsolidatedTax.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:rate) %></th>
      <th><%= model_class.human_attribute_name(:compound) %></th>
      <th><%= model_class.human_attribute_name(:order) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @taxes.each do |tax| %>
      <tr>
        <td><%= tax.name %></td>
        <td><%= tax.rate %>%</td>
        <td><%= tax.compound ? '<span class="label label-success"><i class="icon-ok"></i></span>'.html_safe : '<span class="label label-important"><i class="icon-remove"></i></span>'.html_safe %></td>
        <td><%= tax.order %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>