<h1>{{title}}</h1>
{{#if isEditing}}
  {{partial 'customers/edit_form'}}
{{else}}
  <h3 class="subheader">{{{full_name}}}</h3>
  <hr />
  <h4>Address</h4>
  <span>{{full_address}}</span>
  <hr />
  <h4>Tax code</h4>
  <span>{{tax_code}}</span>
  <hr />
  <h4>VAT</h4>
  <span>{{vat}}</span>
  <hr />
  {{#if info }}
    <div class="info-wrapper">
      <button data-reveal-id="info_modal" class="info-modal button radius tiny info_modal_trigger"><i class="fa fa-info-circle"></i> Show extra info</button>
      <div class="reveal-modal" data-reveal>{{{info}}}</div>
    </div>
    <script>
      $(document).ready(function(){
        $('.info_modal_trigger').on('click', function(e){
          $(this).closest('div.info-wrapper').find('.reveal-modal').foundation('reveal', 'open');
        });
      })
    </script>
  {{/if}}
  <button {{action "editCustomer"}} class="button tiny radius"><i class="fa fa-edit"></i> Edit</button>
  <button {{action 'showDropdown'}} class="tiny alert radius button dropdown" data-dropdown="drop1" id="groupDropdownLink"><i class="fa fa-trash-o"></i> Delete</button><br />
  <ul id="drop1" data-dropdown-content class="f-dropdown">
    <li><a {{action "removeCustomer"}}>Yes, I'm sure!</a></li>
  </ul>
{{/if}}
