<h1>{{title}}</h1>
<p>{{full_name}}</p>
<p>address: {{full_address}}</p>
<p>tax_code: {{tax_code}}</p>
<p>vat: {{vat}}</p>
<p>info: {{{info}}}</p>
<p>created_at: {{formatted_datetime created_at}}</p>
<p>updated_at: {{formatted_datetime updated_at}}</p>
