{{#if isEditing}}
  {{partial 'customers/edit_form'}}
{{else}}
  <div class="row">
    <div class="large-12 columns">
      <h1>{{title}}
        <button {{action "editCustomer"}} class="button tiny radius"><i class="fa fa-edit"></i> Edit</button>
        <button {{action 'showDropdown'}} class="tiny alert radius button dropdown" data-dropdown="drop1" id="groupDropdownLink"><i class="fa fa-trash-o"></i> Delete</button><br />
        <ul id="drop1" data-dropdown-content class="f-dropdown">
          <li><a {{action "removeCustomer"}}>Yes, I'm sure!</a></li>
        </ul>
      </h1>
      <table>
        <tr>
          <th>Name</th>
          <td>{{full_name}}</td>
        </tr>
        <tr>
          <th>Address</th>
          <td>{{full_address}}</td>
        </tr>
        <tr>
          <th>Tax code</th>
          <td>{{tax_code}}</th>
        </tr>
        <tr>
          <th>VAT</th>
          <td>{{vat}}</th>
        </tr>
        <tr>
          <th>Information</th>
          <td>{{{info}}}</th>
        </tr>
      </table>
    </div>
  </div>
{{/if}}
