<div class="row">
  <div class="large-12 columns">
    <h1>Sign in</h1>
  </div>
</div>
{{#if errorMessage}}
<div class="row">
  <div class="large-12 columns">
    <div data-alert class='alert alert-box radius'>
      {{errorMessage}}
      <a {{action 'closeMessage'}} class='close'>x</a>
    </div>
  </div>
</div>
{{/if}}

<form {{action 'authenticate' on='submit'}}>
  <div class="row">
    <div class="large-12 columns">
      <label for='identification'>Login
        {{input id='identification' placeholder='Enter email address' value=identification}}
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label for='password'>Password
        {{input id='password' placeholder='Enter Password' type='password' value=password}}
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <button type='submit' class="button">Sign in</button>
    </div>
  </div>
</form>
