<%- model_class = ConsolidatedTax.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:taxes) %></th>
    </tr>
  </thead>
  <tbody>
    <% @consolidated_taxes.each do |consolidated_tax| %>
      <tr>
        
        <td><%= consolidated_tax.name %></td>
        <td>
          <% consolidated_tax.taxes.each do |tax| %>
            <%= link_to tax.name, consolidated_tax_tax_path(consolidated_tax, tax) %><br />
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_consolidated_tax_path,
            :class => 'btn btn-primary' %>