<h1><%=t '.title', default: "Create a new user" %></h1>

<%= simple_form_for @user, url: register_index_path, html: {class: 'form-horizontal', multipart: true } do |f| %>

  <% if f.error_notification %>
    <%= f.error_notification %>
  <% end %>

  <legend><%=t '.legend', default: '' %></legend>

  <div class="row-fluid">
    <div class="span6">
      <%= f.input :email, hint: t('.email_hint'), default: 'The generated password will be delivered to this email address' %>
      <%= f.input :name %>
      <%= f.input :surname %>
      <%= f.input :language, as: :radio_buttons, collection: [['Italiano', 'it'], ['English', 'en']] %>
      <%= f.input :tax_code %>
      <%= f.input :vat %>
      <%= f.input :phone %>
    </div>
    <div class="span6">
      <%= f.input :address %>
      <%= f.input :zip_code %>
      <%= f.input :town %>
      <%= f.input :province %>
      <%= f.input :country %>
      <%= f.input :bank_coordinates, input_html: { class: 'input-xlarge', rows: 8 }, hint: t( '.bank_hint', default: "If you fill in this field, the informations will be inserted in the invoice projects") %>
      <%= f.input :logo, hint: t('.logo_hint', default: 'Size ratio in PDFs: ') + '137x60' do %>
        <%= f.file_field :logo %>
      <% end %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
