<%= simple_form_for @recurring_slip, :html => {:class => 'form-horizontal' } do |f| %>

  <% if f.error_notification %>
    <%= f.error_notification %>
  <% end %>

  <legend></legend>
  <%= f.association :customer, :collection => current_user.customers.collect{ |customer| [customer.title, customer.id] }, :prompt => t('simple_form.prompts.customer', :default => "Select a customer") %>
  <%= f.input :name %>
  <%= f.input :rate %>

  <div class="control-group select required">
    <label class="select required control-label" for="recurring_slip_customer">
      <abbr title="required">*</abbr>
      <%=t 'simple_form.labels.recurring_slip.schedule_months', :default => "Months of recurrency"%>
    </label>
    <div class="controls">
      <%= select 'schedule', 'month', schedule_month_options %>
    </div>
  </div>

  <div class="control-group select required">
    <label class="select required control-label" for="recurring_slip_customer">
      <abbr title="required">*</abbr>
      <%=t 'simple_form.labels.recurring_slip.day_of_expiration', :default => "Day of expiration"%>
    </label>
    <div class="controls">
      <%= select 'schedule', 'day', schedule_day_options %>
    </div>
  </div>

  <div class="control-group string optional">
    <label class="string optional control-label" for="invoice_name">
      <%=t 'simple_form.labels.recurring_slip.next_occurrence', :default => "Next occurrence"%>
    </label>
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on"><img alt="Calendar" src="/icons/calendar-month.png"></span><%= text_field_tag 'schedule[next]', '', :class => 'input-small datepicker' %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= submit_tag t('helpers.buttons.cancel', :default => 'Cancel'), :type => :reset, :class => "btn btn-danger" %>
  </div>
<% end %>
