<article class="module width_full">
  <header>
    <h3>Edit recurring slip</h3>
  </header>
  <div class="module_content">
    <%= semantic_form_for @recurring_slip do |f| %>
      <fieldset class="inputs">
        <ol>
          <%= f.input :customer, :collection => current_user.customers.collect{ |customer| [customer.title, customer.id] } %>
        </ol>
      </fieldset>
      <%= f.inputs :name %>
      <%= f.inputs :rate, :as => :currency %>
      <%= f.buttons %>
    <% end %>
  </div>
</article>