<%= content_for :breadcrumb do %>
  <%= print_breadcrumbs([
                      [t('breadcrumb.recurring_slips.index', :default => 'Recurring slips'), recurring_slips_path]
                    ]).html_safe %>
<% end %>

<%- model_class = RecurringSlip.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped table-bordered table-condensed sortable">
  <thead>
    <tr>
      <th><%=t model_class.human_attribute_name(:customer) %></th>
      <th><%=t model_class.human_attribute_name(:name) %></th>
      <th><%=t model_class.human_attribute_name(:rate) %></th>
      <th><%=t model_class.human_attribute_name(:rule) %></th>
      <th><%=t model_class.human_attribute_name(:next_occurrence) %></th>
      <th><%=t 'actions', :default => "Actions" %></th>
    </tr>
  </thead>
  <tbody>
    <% @recurring_slips.each do |slip| %>
      <tr>
        <td><%= slip.customer.title %></td>
        <td><%= slip.name %></td>
        <td class="nowrap"><%= number_to_currency(slip.rate) %></td>
        <td><%= slip.schedule %></td>
        <td><span class="<%= 'label label-important' if slip.to_invoice? %>"><%= slip.next_occurrence ? slip.next_occurrence.in_time_zone("Rome").strftime("%d/%m/%Y") : '-' %></span></td>
        <td>
          <%= link_to('<i class="icon-share-alt"></i> '.html_safe+t('.create_invoice_project', :default => 'Create invoice project' ), new_recurring_slip_invoice_project_path(slip), :class => 'btn btn-mini btn-primary') if slip.to_invoice? %>
          <%= link_to('<i class="icon-copy"></i> '.html_safe+t('.create_invoice', :default => 'Create invoice'), new_recurring_slip_recurring_invoice_path(slip), :class => 'btn btn-mini btn-primary' ) if slip.to_invoice? %>
          <%= link_to('<i class="icon-edit"></i> '.html_safe+t('.edit', :default => 'Edit recurring slip'), edit_recurring_slip_path(slip), :class => 'btn btn-mini btn-warning') %>
          <%= link_to('<i class="icon-remove"></i> '.html_safe+t('.delete', :default => 'Delete recurring slip'), recurring_slip_path(slip), :method => :delete, :data => { :confirm => t('.delete_confirm', :default => "Are you sure to delete the recurring slip?") }, :class => 'btn btn-mini btn-danger') %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_recurring_slip_path,
            :class => 'btn btn-primary' %>
