<%- model_class = RecurringSlip.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:customer) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:rate) %></th>
      <th><%= model_class.human_attribute_name(:rule) %></th>
      <th><%= model_class.human_attribute_name(:next_occurrence) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @recurring_slips.each do |slip| %>
      <tr>
        <td><%= slip.customer.title %></td>
        <td><%= slip.name %></td>
        <td><%= number_to_currency(slip.rate) %></td>
        <td><%= slip.schedule %></td>
        <td><span class="<%= 'label label-important' if slip.to_invoice? %>"><%= slip.next_occurrence ? slip.next_occurrence.in_time_zone("Rome").strftime("%d/%m/%Y") : '-' %></span></td>
        <td class="nowrap">
          <%= link_to(image_tag('icons/blog--plus.png', :alt => 'Create invoice', :title => 'Create invoice'), new_recurring_slip_recurring_invoice_path(slip), :class => 'btn btn-mini' ) if slip.to_invoice? %>
          <%= link_to(image_tag('icons/document--pencil.png', :alt => 'Edit recurring slip', :title => 'Edit recurring slip'), edit_recurring_slip_path(slip), :class => 'btn btn-mini') %>
          <%= link_to(image_tag('icons/cross-circle.png', :alt => 'Delete recurring slip', :title => 'Delete recurring slip'), recurring_slip_path(slip), :method => :delete, :confirm => "Are you sure to delete the recurring slip?", :class => 'btn btn-mini') %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_recurring_slip_path,
            :class => 'btn btn-primary' %>
