<%= simple_form_for @user, :url => '/profile/update', :html => {:class => 'form-horizontal' } do |f| %>

  <% if f.error_notification %>
    <%= f.error_notification %>
  <% end %>
  
  <legend><%=t '.legend', :default => "Personal data" %></legend>
  <%= f.input :name %>
  <%= f.input :surname %>
  <%= f.input :address %>
  <%= f.input :zip_code %>
  <%= f.input :town %>
  <%= f.input :province %>
  <%= f.input :country %>
  <%= f.input :tax_code %>
  <%= f.input :vat %>
  <%= f.input :phone %>
  <%= f.input :email %>
  <%= f.input :bank_coordinates, :input_html => { :class => 'input-xlarge', :rows => 8 } %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= submit_tag t('helpers.buttons.cancel', :default => 'Cancel'), :type => :reset, :class => "btn btn-danger" %>
  </div>
<% end %>