<%= javascript_include_tag "jquery.complexify.min" %>

<%= content_for :breadcrumb do %>
  <%= print_breadcrumbs([
                      [t('breadcrumb.profile.index', :default => "Profile"), profile_path],
                      [t('breadcrumb.profile.change_password', :default => "Change password"), nil]
                    ]).html_safe %>
<% end %>

<h1><%=t '.title', :default => "Change your password" %></h1>

<%= simple_form_for @user, :url => '/profile/password/update', :html => {:class => 'form-horizontal' } do |f| %>

  <% if f.error_notification %>
    <%= f.error_notification %>
  <% end %>

  <legend><%=t '.legend', :default => "Insert the new password" %></legend>
  <%= f.input :password %>
  <div class="control-group password-strenght-wrapper">
    <div class="controls">
      <div class="progress progress-striped progress-danger active" id="password-strenght">
        <div class="bar"></div>
      </div>
    </div>
  </div>
  <%= f.input :password_confirmation, :hint => :password_confirmation, :label => false %>


  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= submit_tag t('helpers.buttons.cancel', :default => 'Cancel'), :type => :reset, :class => "btn btn-danger" %>
  </div>
<% end %>

<script type="text/javascript">
  $(function () {
    $("#user_password").complexify({strengthScaleFactor: 0.6}, function (valid, complexity) {
      if (!valid) {
        $('#password-strenght').removeClass('progress-success').addClass('progress-danger');
        $('#password-strenght .bar').css({'width': complexity + '%'});
      } else {
        $('#password-strenght').removeClass('progress-danger').addClass('progress-success');
        $('#password-strenght .bar').css({'width': complexity + '%'});
      }
    });
  });
</script>
