<%- model_class = Invoice.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:number) %></th>
      <th><%= model_class.human_attribute_name(:customer) %></th>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%= model_class.human_attribute_name(:slips) %></th>
      <th><%= model_class.human_attribute_name(:rate) %></th>
      <th><%= model_class.human_attribute_name(:total) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
          <td><%= invoice.number %></td>
          <td><%= invoice.customer.title %></td>
          <td><%= invoice.date.strftime("%d/%m/%Y") %></td>
          <td>
            <ul>
              <% invoice.slips.each do |slip| %>
                <li><%= slip.name %>: <%= number_to_currency(slip.rate) %></li>
              <% end %>
            </ul>
          </td>
          <td><%= number_to_currency(invoice.rate) %></td>
          <td><%= number_to_currency(invoice.total) %></td>
          <td class="nowrap">
            <%= link_to(image_tag('icons/blue-document-page-previous.png', :alt => 'Delete invoice and restore slips', :title => 'Delete invoice and restore slips'), customer_invoice_path(invoice.customer,invoice.id), :method => :delete, :confirm => "Are you sure to delete the invoice and restore the slips?\nATTENTION: You shouldn't destroy invoices unless you know what you're doing. Numbering won't be automatically restored...", :class => 'btn btn-mini') unless invoice.paid? %>
            <%= link_to(image_tag('icons/money-coin.png', :alt => 'Add payment', :title => 'Add payment'), "/invoice/#{invoice.id}/payment", :class => 'btn btn-mini') unless invoice.paid? %>
            <%= link_to image_tag('icons/document-pdf-text.png', :alt => 'Print invoice', :title => 'Print invoice' ), customer_invoice_path(invoice.customer,invoice.id, :format => 'pdf'), :class => 'btn btn-mini' %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>
