<% content_for :title do %>
  Unpaid invoices
<% end %>

<article class="module width_full">
	<header><h3>Invoices</h3></header>
	<div class="tab_container">
    <table class="tablesorter" cellspacing="0">
      <thead>
        <tr>
          <th>Customer</th>
          <th>Number</th>
          <th>Date</th>
          <th>Slips</th>
          <th>Rate</th>
          <th>Total</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="7">
            <div class="bulk-actions align-left">
            </div>
            <div class="clear"></div>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <% @invoices.each do |invoice| %>
        <tr class="<%= cycle 'alt-row', '' %>">
          <td><%= invoice.customer.title %></td>
          <td><%= invoice.number %></td>
          <td><%= invoice.date.strftime("%d/%m/%Y") %></td>
          <td>
            <ul>
              <% invoice.slips.each do |slip| %>
                <li><%= slip.name %>: <%= number_to_currency(slip.rate) %></li>
              <% end %>
            </ul>
          </td>
          <td><%= number_to_currency(invoice.rate) %></td>
          <td><%= number_to_currency(invoice.total) %></td>
          <td>
            <%= link_to(image_tag('icons/blue-document-page-previous.png', :alt => 'Delete invoice and restore slips', :title => 'Delete invoice and restore slips'), customer_invoice_path(invoice.customer,invoice.id), :method => :delete, :confirm => "Are you sure to delete the invoice and restore the slips?\nATTENTION: You shouldn't destroy invoices unless you know what you're doing. Numbering won't be automatically restored...") unless invoice.paid? %>
            <%= link_to(image_tag('icons/money-coin.png', :alt => 'Add payment', :title => 'Add payment'), "/invoice/#{invoice.id}/payment") unless invoice.paid? %>
            <%= link_to image_tag('icons/document-pdf-text.png', :alt => 'Print invoice', :title => 'Print invoice' ), customer_invoice_path(invoice.customer,invoice.id, :format => 'pdf') %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</article>