<% if flash[:info] %>
  <div class="alert alert-info fade in" data-alert="alert">
    <a class="close" data-dismiss='alert' href="#">×</a>
    <p><%= raw flash[:info] %></p>
  </div>
<% end %>
<% if flash[:warning] %>
  <div class="alert fade in" data-alert="alert">
    <a class="close" data-dismiss='alert' href="#">×</a>
    <p><%= raw flash[:warning] %></p>
  </div>
<% end %>
<% if flash[:error] %>
  <div class="alert alert-error fade in" data-alert="alert">
    <a class="close" data-dismiss='alert' href="#">×</a>
    <p><%= raw flash[:error] %></p>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-error fade in" data-alert="alert">
    <a class="close" data-dismiss='alert' href="#">×</a>
    <p><%= raw flash[:alert] %></p>
  </div>
<% end %>
<% if flash[:notice] %>
  <div class="alert alert-success fade in" data-alert="alert">
    <a class="close" data-dismiss='alert' href="#">×</a>
    <p><%= raw flash[:notice] %></p>
  </div>
<% end %>
<% if flash[:success] %>
  <div class="alert alert-success fade in" data-alert="alert">
    <a class="close" data-dismiss='alert' href="#">×</a>
    <p><%= raw flash[:success] %></p>
  </div>
<% end %>
