<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
      <div class="container-fluid">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Rubyfatt</a>
      <div class="container-fluid nav-collapse">
        <ul class="nav">
          <li class="dropdown<%= active_navbar_helper(/^\/slips\/working|\/invoice_projects|\/invoices\/unpaid$/, true).html_safe %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%=t '.job_status', :default => "Job status" %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li<%= active_navbar_helper(/^\/slips\/working$/).html_safe %>><%= link_to (t('.working_slips', :default => "Working slips")+" #{working_slips_badge}").html_safe, working_slips_path %></li>
              <li<%= active_navbar_helper(/^\/invoice_projects$/).html_safe %>><%= link_to (t('.invoice_projects', :default => "Invoice projects")+" #{invoice_projects_badge}").html_safe, invoice_projects_path %></li>
              <li<%= active_navbar_helper(/^\/invoices\/unpaid$/).html_safe %>><%= link_to (t('.unpaid_invoices', :default => "Unpaid invoices")+" #{unpaid_invoices_badge}").html_safe, unpaid_invoices_path %></li>
            </ul>
          </li>
          <li<%= active_navbar_helper(/^\/recurring_slips$/).html_safe %>><%= link_to (t('.recurring_slips', :default => "Recurring slips")+" #{expired_recurring_slips_badge}").html_safe, recurring_slips_path %></li>
          <li class="divider-vertical"></li>
          <li class="dropdown<%= active_navbar_helper(/^\/invoices\/all$|^\/certifications[\/]*.*$/, true).html_safe %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%=t '.management.title', default: "Management" %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li<%= active_navbar_helper(/^\/invoices\/all$/).html_safe %>><%= link_to t('.all_invoices', :default => "All invoices"), all_invoices_path %></li>
              <li<%= active_navbar_helper(/^\/certifications[\/]*.*$/).html_safe %>><%= link_to t('.certifications', default: "Withholding certifications"), certifications_path %></li>
            </ul>
          </li>
          <li class="dropdown<%= active_navbar_helper(/^\/customers$|\/customers\/new$/, true).html_safe %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%=t '.customers.title', :default => "Customers" %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li<%= active_navbar_helper(/^\/customers$/).html_safe %>><%= link_to t('.customers.show', :default => "Show customers"), customers_path %></li>
              <li<%= active_navbar_helper(/^\/customers\/new$/).html_safe %>><%= link_to t('.customers.new', :default => "New customer"), new_customer_path %></li>
            </ul>
          </li>
          <li class="divider-vertical"></li>
          <li class="dropdown<%= active_navbar_helper(/^\/invoices\/all$|^\/certifications[\/]*.*$/, true).html_safe %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%=t '.management.title', default: "Management" %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li<%= active_navbar_helper(/^\/invoices\/all$/).html_safe %>><%= link_to t('.all_invoices', :default => "All invoices"), all_invoices_path %></li>
              <li<%= active_navbar_helper(/^\/certifications[\/]*.*$/).html_safe %>><%= link_to t('.certifications', default: "Withholding certifications"), certifications_path %></li>
            </ul>
          </li>
          <li<%= active_navbar_helper(/^\/wiki$/).html_safe %>><%= link_to t('.wiki', :default => "Wiki"), main_app.wiki_page_path %></li>
        </ul>

        <ul class="nav pull-right">
          <li class="dropdown<%= active_navbar_helper(/^\/consolidated_taxes$|^\/options$|^\/work_categories$/, true).html_safe %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%=t '.configurations', :default => "Configurations" %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li<%= active_navbar_helper(/^\/consolidated_taxes$/).html_safe %>><%= link_to t('.taxes', :default => "Taxes"), consolidated_taxes_path %></li>
              <li<%= active_navbar_helper(/^\/options$/).html_safe %>><%= link_to t('.options', :default => "Options"), options_path %></li>
              <li<%= active_navbar_helper(/^\/work_categories$/).html_safe %>><%= link_to t('.work_categories', :default => "Categories"), work_categories_path %></li>
            </ul>
          </li>
          <li class="dropdown<%= active_navbar_helper(/^\/profile[\/]*.*$/, true).html_safe %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%=t '.profile.title', :default => "Profile" %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t('.profile.edit', :default => "Edit your profile"), edit_profile_path %></li>
              <li><%= link_to t('.profile.change_password', :default => "Change your password"), edit_password_path %></li>
            </ul>
          </li>
          <li class="divider-vertical"></li>
          <li><%= link_to(t('.logout', :default => "Logout"), destroy_user_session_path, :method => :delete, :data => { :confirm => t('.logout_confirm', :default => "Are you sure to sign out?") }, :title => 'Esci') %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
