<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="<%= I18n.locale %>" > <![endif]-->
<html class="no-js" lang="<%= I18n.locale %>" >
  <head>
    <link href="/favicon.ico" rel="shortcut icon">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/apple-touch-icon-114x114.png">
    <meta name="author" content="Tommaso Visconti <tommaso.visconti@gmail.com>" />
    <title><%= content_for?(:title) ? yield(:title) : "Rubyfatt" %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= yield :stylesheets %>
    <%= javascript_include_tag "vendor/modernizr" %>
  </head>
  <body>

    <%= yield %>

    <%= javascript_include_tag "application" %>
    <%= yield :javascripts %>
  </body>
</html>
